<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- My CSS -->
    {% block links%}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <title>{% block title %}{% endblock %} - Tip.me</title>
</head>

<body>
    <nav class="flex">
        <header class="flex">
            <img class="nav--logo" src="{{ url_for('static', filename='images/newLogo.png') }}" alt="">
            <a href="/" class="nav--heading">Tip.Me</a>
        </header>

        <footer class="flex">
            <a href="/login" class="nav--item">Login</a>
            <a href="/register" class="nav--button">Sign Up</a>
        </footer>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>

</html>