<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{user}}</title>
    <!--  My CSS  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">

    <!--  JS  -->
    <script defer src="{{ url_for('static', filename='js/submitbio.js') }}"></script>

</head>
<body>
<main class="flex flex--column">
    <header>
        Welcome, {{user}}
        <a href="/logout" class="button--logout">Logout</a>
    </header>
    <hr>
    <section class="form flex flex--column">
        <article class="form--item flex">
            <textarea name="bio" id="bio" placeholder="Your Bio"></textarea>
            <button class="submit">Submit</button>
        </article>
    </section>
</main>

</body>
</html>