{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
{% endblock %}

{% block main %}
<section>
    <form action="/register" method="POST">
        <h2>Create your account!</h2>
        <input type="text"
               name="username"
               id="username"
               placeholder="Your username"
        >

        <input type="email"
               name="email"
               id="email"
               placeholder="Your email"
        >

        <input type="password"
               name="password"
               id="password"
               placeholder="Your password"
        >

        <button type="submit">Submit</button>
    </form>
    <article>
        <h1 class="title">This is Tip.Me</h1>
        <ul>
            <h3>Tidy up your links all in one single location using a single link!</h3>
            <p>You can add your accepted payment options such as:</p>
            <li>Bitcoin</li>
            <li>Ethereum and other cryptocurrencies</li>
            <li>Paypal, Cashapp, Beem.it and more</li>
            
        </ul>
    </article>
</section>
{% endblock %}