{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
{% endblock %}

{% block main %}
<section>
    <form action="/register" method="POST">
        <h2>Create your account!</h2>
        <input type="text"
               name="username"
               id="username"
               placeholder="Your username"
        >

        <input type="email"
               name="email"
               id="email"
               placeholder="Your email"
        >

        <input type="password"
               name="password"
               id="password"
               placeholder="Your password"
        >

        <button type="submit">Submit</button>
    </form>
    <article>
        <h1 class="title">This is TipJar</h1>
        <ul>
            <li>Concentrate on what you do best, we'll manage your wallet</li>
            <li>Bitcoin</li>
            <li>Ethereum</li>
            <li>Lorem Ipsum stuff</li>
        </ul>
    </article>
</section>
{% endblock %}