<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body class="flex flex--column">
<header>
    <figure>
        <img src="{{ url_for('static', filename='images/newLogo.png') }}" alt="">
        <figcaption>@ {{username}}</figcaption>
    </figure>
</header>
<main>
    <section>
        {% for link in links %}
        <article class="tip-card">
            {% if link[0] == "eth" %}
                <img src="{{ url_for('static', filename='images/icons8-ethereum.svg') }}" alt="ethereum logo">
            {% endif %}
            {% if link[0] == "btc" %}
                <img src="{{ url_for('static', filename='images/icons8-bitcoin.svg') }}" alt="">
            {% endif %}
            <span class="center">{{link[1]}}</span>

        </article>
        {% endfor %}
    </section>

</main>
</body>
</html>