{% extends 'base.html' %}

{% block header %}
  <div class="row text-center">
    <h1>{% block title %}Welcome{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="row"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero cumque mollitia provident, sunt excepturi debitis error, culpa ipsum a necessitatibus autem aspernatur veritatis ullam. Provident incidunt perspiciatis debitis maiores rem numquam nam harum ut dolor fugiat, quae, minima et? Culpa repellendus odit, vero temporibus pariatur, eos autem expedita provident veniam, maiores vitae. Totam quas ullam voluptate, ut, nihil eligendi, fugiat pariatur iste commodi nemo vitae est eos praesentium ea numquam placeat? Ex beatae quas, voluptas ipsam corrupti fugit ut vero necessitatibus, totam aliquam unde? Quam neque nemo dicta aliquid, alias dolorum sit aut eius ea. Nisi illo deleniti excepturi magnam?</p></div>
<div class="d-grid gap-2 col-9 mx-auto">
    <button class="btn btn-primary" type="button">Continue</button>

  </div>
{% endblock %}
