{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
{% endblock %}

<<p></p>


{% block main %}
<div class="">

</div>
<center>
<img height="300" src="static/images/newLogo.png" />
</center>



<center>
<h1 style="font-size:300%">
  Welcome!
</h1>
</center>

<center>
<p style="font-size:120%;  padding-right: 200px; padding-left: 220px;">

Tip.me is a platform where you can support your favourite creators.

Creators can create their own public home page and allow fans to pay them via a direct URL link.

<p></center>

<p>


</p>

<center>
<p style="font-size:120%;  padding-right: 200px; padding-left: 220px;">
Creators can combine all their payment options in one link, including Paypal, Bitcoin, Beemit, etc.

Rather than the user having to paste multiple lines of links for all their payment options, they can use their single ‘tip.mer’ home page link to see the available options. Similar to a URL shortener but for links to donate/tip.
<p></center>





{% endblock %}